# Eclipse / SpringSource Toolkit #
###################
.metadata
Servers
.classpath
.project
.settings
target-eclipse


# Compiled #
###################
*.class
target
target-eclipse


# Logs #
###################
*.log